<div class="row">

    <div class="col-md-2">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('mc-component.create') }"><a ui-sref=".create"   style="padding: 2px 2px">Create Component</a></li>
        <li class="nav-header"   style="padding: 2px 2px">Components</li>

        <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
             AND if it is the link for the active contact (aka contactId) -->
        <li ng-repeat="component in components"
            ng-class="{ active: $state.includes('mc-component.detail') && $stateParams.componentId == component.id }">
            
          <!-- Here's a ui-sref that is also providing necessary parameters -->
          <a ui-sref=".detail({componentId:component.id})" style="padding: 2px 2px">{{component.name}}</a>
        </li>
      </ul>
      <hr>
    </div>


  <!-- Our unnamed main ui-view for this template -->
  <div class="col-md-10">
  	<!-- <div ui-view ng-animate="{enter:'fade-enter'}"></div> -->
  	<div ui-view ng-animate="{enter:'fade-enter'}"></div>
  </div>
</div>